@{
    ViewData["Title"] = "Home Page";
}


<div id="div-login" class="div-login">
    <div>
        <p3>Welcome!</p3>
        <p3>Climber</p3> <img src="~/images/logov3.png" /> <p3>Cookie</p3>
    </div>
    <div>
        <p3>Please Login  </p3>

    </div>
    <!-- <button id="firstbtn">Click Me</button>-->

</div>

<div id="div-mainbackground">
    <img src="~/images/rattlesnake.jpg" />




</div>