
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Signup</h2>



<div id="div-signup" class="div-login">
    <div>
        <p3>Welcome!</p3>
        <p3>Climber</p3> <img src="~/images/logov3.png" /> <p3>Cookie</p3>
    </div>
    <div>
        <p3>Sign Up!  </p3>
        <div>
            Username: <input type="text" name="UserName" value="" /><br />
            Password: <input type="text" name="Password" /><br />
            Confirm Password: <input type="text" name="Password" /><br />
            <button id="btn-signup">Sign Up</button>
        </div>

    </div>

</div>



<div id="div-mainbackground">
    <img src="~/images/rattlesnake.jpg" />




</div>

